@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  @apply bg-background text-text font-poppins;
}
.gradient-text
{
  @apply from-primary to-accent bg-gradient-to-b bg-clip-text text-transparent;
}

.animChar
{
  animation: myfirst 5s cubic-bezier(.69,.13,0,1.39) forwards;
  display: inline-block;
  translate: 0 100%;
}
.strokeText {
  -webkit-text-stroke: .5px white;
  color: transparent;
}
.responsive
{
  @apply bg-red-500 sm:bg-red-600 lg:bg-red-700 xl:bg-red-800 2xl:bg-red-900;
}

@keyframes myfirst {
  0%   {translate: 0 100%;}
  10% {translate: 0 0;}
  90% {translate: 0 0;}
  100%   {translate: 0 -100%;}
}
@keyframes animIn {
  0%   {translate: 0 100%;}
  100% {translate: 0 0;}
}
::-webkit-scrollbar
{
  width: 5px;
}

::-webkit-scrollbar-thumb
{
  @apply bg-primary rounded-full;
}